legend {
font-weight: bold;
color: Red;

}

div {
  display: inline-block;
  margin: 5px;
  position: relative;
  text-align: center;
}

#expenseDiv{
  text-align: left;
  margin-left: 75px;

}

#Expense_Type {
  width: 200px;
  text-align: left;
}

#Cost {
  width: 150px;
  text-align: center;
}

#Description{
  width: 270px;
  text-align: left;
}

label {
  color: blue;
}
date {
  margin border-bottom: 25px
}
