legend {
font-weight: bold;
color: Red;

}

.expense_droplist{
  width:215px;
  height: 24px;
  float:left;
  padding-right:10px;
}

.expense_select !important{
  height: 24px;
  width: 150px;

}
.frm-block-outer{
  width: 70%;
}

.frm-blocker-outer h3{
  margin: 0px;
}
.frm-wrapper{
  width: 980px;
}

.expense-wrapper{
  float: right;
}

div {
  display: inline-block;
  margin: 5px;
  position: relative;
  text-align: center;
}

.account select !important{
  height: 24px;
  width: 150px;
}

.expenseDiv{

  margin-left: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 685px;

}

.Expense_Type {
  width: 200px;
  text-align: left;
}

.cost{
  width: 55px;
  height: 24px;
  float: left;
  padding-right: 10px;
}

.cost input{
  width: 50px;
}

.inputCost {
  width: 150px;
  text-align: center;
}

.description{
  width: 305px;
  height: 24px;
  float: left;
}

.description textarea{
  width: 300px;
  height: 17px;
}

.inputDescription{
  width: 270px;
  text-align: left;
}

label {
  color: blue;
}
expense_date {
  margin border-bottom: 25px
}

.button{
  margin-left: 150px;
  border-radius: 25px;
}
input{

}

.save{
  width: 105px;
  border-radius: 7px;
}
table{
  border-collapse: collapse;
  position: absolute;
  margin-top: 100px;
  height: 100px;
  width: 100%;
  margin-left: 75px;
}

caption{
  font: bold;
}

table, tr, th, td{
  border: 1px solid black;
  color: blue;
}

td,th{
  text-align: left;
  width: 33%
  padding: 20px;
  height: 30px;
  vertical-align: bottom;
  padding-bottom: 5px;
  border-right: 1px solid #ddd;
}


td:hover{background-color: lightblue;}
